
@charset "ISO-8859-1";

table {
	border-collapse: collapse;
}

table td, th {
	padding: 5px;
	
}

.create-button {
	color: blue;
	cursor: pointer;
	padding: 5px;
}

.view-button {
	padding: 2px 5px;
	background: #25A6E1;
	cursor: pointer;
}
table tr th{
  background:#337ab7;
  color:white;
  text-align:center;
  vertical-align:center;
}
